body {
	padding:10px;
}

/** テーブル用スタイル*/
.watchListHeader{
	background-color: #2062B8;
	color:white;
	font-style:italic;
}

.watchList{
	border:1px solid silver;
	padding:2px;
	margin-bottom:6px;
}

.watchListNumericColumn{
	text-align:right;
	width:8em;
}

.watchListRemoveColumn{
	text-align :center;
}

/* dependentName */
.gwt-Button-remove{
	width:50px;
}
